<h1>My Books</h1><br><br>

<p class="lead">Recomendations to avoid future processing errors</p>
<p>* Your file must have csv format</p>
<p>* Your file should have 6 columns</p>
<p>* Your file should have the next columns (name, date, phone, address, franchise, email) </p>
<br>
<%= form_with model: @book do |f| %>

<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :file %>
  <%= f.file_field :file %><br>
  <br>
  <%= f.submit 'Import Book', class: 'btn btn-success' %>
<% end %>