<h1><%= (@book.file.filename).to_s.downcase %></h1>
<table>
  <tr>
    <td class="lead pr-5">Created by:</td>
    <td class="lead">Status:</td>
  </tr>
  <tr>
    <td>
      <p class="lead">
        <%= @book.user.username %></td>
      </p>
    <td>
      <p class="lead">
        <% if @book.status == 'terminado' %> 
          <span class="badge badge-success"><%= @book.status %></span>
        <% else %>
          <span class="badge badge-warning"><%= @book.status %></span>
        <% end %>
      </p>
    </td>
  </tr>
</table><br><br>

<% if @book.status == 'espera' %>
  <%= form_with url: processing_path(@book), method: 'GET' do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :date %>
      <%= f.text_field :date %>
    </div>
    <div>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.label :franchise %>
      <%= f.text_field :franchise %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<%= render 'contacts/contact_table', obj: @book.contacts %>

