<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Sidebar</h3>
      </div>

      <ul class="list-unstyled components">
          <p><%= current_user.email %></p>
          
          <li>
              <%= link_to 'Import book', new_book_path %>
          </li>
          <li>
              <%= link_to 'My books', books_path %>
          </li>

          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My contacts</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <%= link_to 'All contacts', all_contacts_path %>
                  </li>
                  <li>
                    <%= link_to 'Valid contacts', valid_contacts_path %>
                  </li>
                  <li>
                    <%= link_to 'Invalid contacts', invalid_contacts_path %>
                  </li>
              </ul>
          </li>
          <li>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          </li>
      </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

            
          </div>
        </nav>
        
        <div class="container-fluid">



