<!DOCTYPE html>
<html>
  <head>
    <title>ContactImport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navbar1' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        
        <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    
      

        

  </body>
</html>
